{% extends "layout.html" %} {% block main %}
<div class="container-sm">
  <form action="/changePassword" method="post">
    <div class="mb-3">
      <label for="userPassword" class="form-label">Your Password</label>
      <input
        type="password"
        name="userPassword"
        id="userPassword"
        class="form-control mx-auto w-auto"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        type="password"
        name="newPassword"
        id="password"
        class="form-control mx-auto w-auto"
        placeholder="New Password"
      />
    </div>
    <p id="stength"></p>
    <div class="mb-3">
      <label for="verifyPassword" class="form-label">Verify New Password</label>
      <input
        type="password"
        name="verifyPassword"
        id="verifyPassword"
        class="form-control mx-auto w-auto"
        placeholder="Verify New Password"
      />
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Change</button>
  </form>
</div>
<script src="/static/checkPassword.js"></script>
{% endblock main %}
